@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: "Raleway";
}


/* Primary */
.container{
    margin: 0px 150px;
}

header{
    margin: 0px; /*importent*/
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto;
}


.btn{
    background: #4E47FF;
    font-family: "Raleway";
    font-weight: 700;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    padding: 14px 35px;
    border: none;
    cursor: pointer;
}


/* navbar */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px;
}

.logo{
    font-size: 35px;
    font-family: "Inter";
    color: #4E47FF;
}

/* stay-focused */

.header-container{
    margin: 152px 117px;
    padding-bottom: 100px;
}
.stay-focused{
    text-align: center;
}
.stay-focused-text{
    padding-bottom: 36px;
    font-size: 65px;
    font-weight: bold;
}

/* action section */

.action-container{
    display: flex;
    justify-content: space-between;
    margin: 160px 150px;
}


.action-detail{
    margin: 62px 0px;
}
.action-container-header{
    font-size: 42px;
    font-weight: bold;
}

.action-container-detail{
    font-size: 24px;
    padding: 23px 0px;
}


.action-img img{
    width: 403px;
    aspect-ratio: 402/328;
    object-fit: cover;
    border-radius: 48px;
}

/* user section */

.user-container{
    display: grid;
    justify-content: center;
    margin: 116px 159px 137px 149px;
    border-radius: 38px;
    background-color: rgba(78 ,71, 255, 0.1);
    border: 1px solid #fff;
}
.user-detail{
    margin: 50px 80px;
}
.user-header{
    font-size: 38px;
    font-weight: bold;
    padding-bottom: 40px;
}

.user-count-container{
    display: flex;
    justify-content: space-between;
}

.users{
    font-size: 80px;
    font-weight: bold;
    font-family: "Inter";
    color: #4E47FF;
}
.users-status{
    font-size: 20px;
    font-family: "Inter";
    color: rgba(0, 0, 0, 0.5);
}
