@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: "Raleway";
}

::-webkit-scrollbar{
    display: none;
}


/* Primary */
.container{
    margin: 0px 150px;
}

header{
    margin: 0px; /*importent*/
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto;
}


.btn{
    background: #4E47FF;
    font-family: "Raleway";
    font-weight: 700;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    padding: 14px 35px;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background: transparent;
    border: 1px solid #4E47FF;
    transition: .1s;
}


/* navbar */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px;
}

.logo{
    font-size: 35px;
    font-family: "Inter";
    color: #4E47FF;
}

/* stay-focused */

.header-container{
    margin: 152px 117px;
    padding-bottom: 100px;
}
.stay-focused{
    text-align: center;
}
.stay-focused-text{
    padding-bottom: 36px;
    font-size: 65px;
    font-weight: bold;
}

/* action section */

.action-container{
    display: flex;
    justify-content: space-between;
    margin: 160px 150px;
}


.action-detail{
    margin: 62px 0px;
}
.action-container-header{
    font-size: 42px;
    font-weight: bold;
}

.action-container-detail{
    font-size: 24px;
    padding: 23px 0px;
}


.action-img img{
    width: 403px;
    aspect-ratio: 402/328;
    object-fit: cover;
    border-radius: 48px;
}

/* user section */

.user-container{
    display: grid;
    justify-content: center;
    margin: 116px 159px 137px 149px;
    border-radius: 38px;
    background-color: rgba(78 ,71, 255, 0.1);
    border: 1px solid #fff;
}
.user-detail{
    margin: 50px 80px;
}
.user-header{
    font-size: 38px;
    font-weight: bold;
    padding-bottom: 40px;
}

.user-count-container{
    display: flex;
    justify-content: space-between;
}

.users{
    font-size: 80px;
    font-weight: bold;
    font-family: "Inter";
    color: #4E47FF;
}
.users-status{
    font-size: 20px;
    font-family: "Inter";
    color: rgba(0, 0, 0, 0.5);
}

/* user review section */
.user-review{
    margin: 0px 150px 137px 150px;
}
.user-review-header{
    text-align: center;
    padding-bottom: 50px;
}
.user-review-title{
    font-size: 42px;
    font-weight: bold;
}
.user-review-box-main{
    display: flex;
    justify-content: space-between;
}

.user-review-box{
    border-radius: 14px;
    background-color: #e7e7e7;
}

.user-rating-img{
    margin: 24px 24px 0px 24px;
}
.user-heading{
    margin: 12px 24px 12px 24px;
}
.user-description{
    margin: 0px 24px 12px 24px;
    font-size: 12px;
}
.star{
    width: 15px;
    height: 15px;
}
.user-profile{
    display: flex;
    margin: 12px 24px 12px 24px;
}

.user-profile img{
    width: 30px;
    height: 30px;
}

.user-info{
    display: inline;
    margin: 0px 24px 24px 12px;
}

.user-name{
    font-size: 12px;
    font-weight: bold;
    font-family: "Inter";
    color: #757575;
}
.user-date{
    font-family: "Inter";
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}
/* stay focus section */

.focus-better{
    margin: 0px 149px 92px 152px;
}
.focus-better-container{
    margin: 70px 150px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.focus-header p{
    font-size: 50px;
    font-weight: bold;
}
.focus-detail p{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    padding: 20px 0px;
}
.focus-banner{
    margin-top: 20px;
}
.focus-banner img{
    max-width: 850px;
    border-radius: 48px;
}

/* get in touch */
.get-touch{
    margin: 14px 150px;
}

.get-touch-container{
    display: flex;
    justify-content: space-between;
}

.get-touch-left{
    display: flex;
    justify-content: space-between;
    margin: 200px 0px;
}

.get-touch-left-title{
    font-size: 96px;
    font-weight: bold;
}

.form-container{
    margin: 71px 0px;
}

.get-touch-inputs{
    display: grid;
    justify-content: center;
}
label{
    font-family: "Inter";
    padding-bottom: 10px;
}
input{
    width: 300px;
    margin-bottom: 19px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
}
.input-message{
    height: 100px;
}


/* footer */
.footer-container{
    max-width: 1000px;
    margin: 110px auto;
    text-align: center;
}
.footer-logo{
    font-size: 100px;
    font-weight: bold;
    font-family: "Inter";
    color: #4E47FF;
}
.footer-description{
    color: #8987A1;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 20px;
}
.footer-content ul{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer-content ul li{
    list-style: none;
}
.footer-content ul li a{
    color: #8987A1;
    font-size: 12px;
    text-decoration: none;
}
